@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body{
    margin: 0;
    font-family: 'Inria Sans', sans-serif;  
    background-color: #AAF0D1;
}

header{
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 20%;
    justify-content: space-between;
}

header a{
    margin-right: 25px;
    font-weight: 500;
    font-size: 14px;
    color: #18191F;
    text-decoration: none;
}

.logo{
    font-family: Lobster;
    font-size: 45px;
}

.article{
    display:flex;
    flex-direction: row-reverse;
    width: 80%;
    margin: 30px 0px
}

.article>img{
    width: 30%;
    object-fit: contain;
    margin-right: 30px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center
}